# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
.env.local
.env.production
.env.development
backend/.env
frontend/.env

# Build outputs
dist/
build/
*/dist/
*/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Testing
coverage/
.nyc_output/

# Misc
.cache/
.temp/
.env.*.local
*.tsbuildinfo

# Vercel
.vercel/

# Next.js
.next/
out/

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
